// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-star-small-name: 'icon-star-small';
$icon-star-small-x: 226px;
$icon-star-small-y: 261px;
$icon-star-small-offset-x: -226px;
$icon-star-small-offset-y: -261px;
$icon-star-small-width: 11px;
$icon-star-small-height: 10px;
$icon-star-small-total-width: 557px;
$icon-star-small-total-height: 479px;
$icon-star-small-image: '../image/sprite.png';
$icon-star-small: (226px, 261px, -226px, -261px, 11px, 10px, 557px, 479px, '../image/sprite.png', 'icon-star-small', );
$stamp-delivery-name: 'stamp-delivery';
$stamp-delivery-x: 0px;
$stamp-delivery-y: 0px;
$stamp-delivery-offset-x: 0px;
$stamp-delivery-offset-y: 0px;
$stamp-delivery-width: 276px;
$stamp-delivery-height: 256px;
$stamp-delivery-total-width: 557px;
$stamp-delivery-total-height: 479px;
$stamp-delivery-image: '../image/sprite.png';
$stamp-delivery: (0px, 0px, 0px, 0px, 276px, 256px, 557px, 479px, '../image/sprite.png', 'stamp-delivery', );
$stamp-origin-name: 'stamp-origin';
$stamp-origin-x: 281px;
$stamp-origin-y: 0px;
$stamp-origin-offset-x: -281px;
$stamp-origin-offset-y: 0px;
$stamp-origin-width: 276px;
$stamp-origin-height: 256px;
$stamp-origin-total-width: 557px;
$stamp-origin-total-height: 479px;
$stamp-origin-image: '../image/sprite.png';
$stamp-origin: (281px, 0px, -281px, 0px, 276px, 256px, 557px, 479px, '../image/sprite.png', 'stamp-origin', );
$stamp-showroom-name: 'stamp-showroom';
$stamp-showroom-x: 0px;
$stamp-showroom-y: 261px;
$stamp-showroom-offset-x: 0px;
$stamp-showroom-offset-y: -261px;
$stamp-showroom-width: 221px;
$stamp-showroom-height: 218px;
$stamp-showroom-total-width: 557px;
$stamp-showroom-total-height: 479px;
$stamp-showroom-image: '../image/sprite.png';
$stamp-showroom: (0px, 261px, 0px, -261px, 221px, 218px, 557px, 479px, '../image/sprite.png', 'stamp-showroom', );
$spritesheet-width: 557px;
$spritesheet-height: 479px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($icon-star-small, $stamp-delivery, $stamp-origin, $stamp-showroom, );
$spritesheet: (557px, 479px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
