// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$body-clothes-name: 'body-clothes';
$body-clothes-x: 0px;
$body-clothes-y: 0px;
$body-clothes-offset-x: 0px;
$body-clothes-offset-y: 0px;
$body-clothes-width: 146px;
$body-clothes-height: 399px;
$body-clothes-total-width: 698px;
$body-clothes-total-height: 531px;
$body-clothes-image: '../image/sprite.png';
$body-clothes: (0px, 0px, 0px, 0px, 146px, 399px, 698px, 531px, '../image/sprite.png', 'body-clothes', );
$elem-chest-name: 'elem-chest';
$elem-chest-x: 519px;
$elem-chest-y: 184px;
$elem-chest-offset-x: -519px;
$elem-chest-offset-y: -184px;
$elem-chest-width: 114px;
$elem-chest-height: 41px;
$elem-chest-total-width: 698px;
$elem-chest-total-height: 531px;
$elem-chest-image: '../image/sprite.png';
$elem-chest: (519px, 184px, -519px, -184px, 114px, 41px, 698px, 531px, '../image/sprite.png', 'elem-chest', );
$elem-hip-name: 'elem-hip';
$elem-hip-x: 519px;
$elem-hip-y: 230px;
$elem-hip-offset-x: -519px;
$elem-hip-offset-y: -230px;
$elem-hip-width: 114px;
$elem-hip-height: 41px;
$elem-hip-total-width: 698px;
$elem-hip-total-height: 531px;
$elem-hip-image: '../image/sprite.png';
$elem-hip: (519px, 230px, -519px, -230px, 114px, 41px, 698px, 531px, '../image/sprite.png', 'elem-hip', );
$elem-neck-name: 'elem-neck';
$elem-neck-x: 638px;
$elem-neck-y: 230px;
$elem-neck-offset-x: -638px;
$elem-neck-offset-y: -230px;
$elem-neck-width: 52px;
$elem-neck-height: 7px;
$elem-neck-total-width: 698px;
$elem-neck-total-height: 531px;
$elem-neck-image: '../image/sprite.png';
$elem-neck: (638px, 230px, -638px, -230px, 52px, 7px, 698px, 531px, '../image/sprite.png', 'elem-neck', );
$elem-sleeve-name: 'elem-sleeve';
$elem-sleeve-x: 0px;
$elem-sleeve-y: 404px;
$elem-sleeve-offset-x: 0px;
$elem-sleeve-offset-y: -404px;
$elem-sleeve-width: 23px;
$elem-sleeve-height: 127px;
$elem-sleeve-total-width: 698px;
$elem-sleeve-total-height: 531px;
$elem-sleeve-image: '../image/sprite.png';
$elem-sleeve: (0px, 404px, 0px, -404px, 23px, 127px, 698px, 531px, '../image/sprite.png', 'elem-sleeve', );
$elem-waist-name: 'elem-waist';
$elem-waist-x: 519px;
$elem-waist-y: 276px;
$elem-waist-offset-x: -519px;
$elem-waist-offset-y: -276px;
$elem-waist-width: 111px;
$elem-waist-height: 41px;
$elem-waist-total-width: 698px;
$elem-waist-total-height: 531px;
$elem-waist-image: '../image/sprite.png';
$elem-waist: (519px, 276px, -519px, -276px, 111px, 41px, 698px, 531px, '../image/sprite.png', 'elem-waist', );
$icon-star-small-name: 'icon-star-small';
$icon-star-small-x: 678px;
$icon-star-small-y: 184px;
$icon-star-small-offset-x: -678px;
$icon-star-small-offset-y: -184px;
$icon-star-small-width: 11px;
$icon-star-small-height: 10px;
$icon-star-small-total-width: 698px;
$icon-star-small-total-height: 531px;
$icon-star-small-image: '../image/sprite.png';
$icon-star-small: (678px, 184px, -678px, -184px, 11px, 10px, 698px, 531px, '../image/sprite.png', 'icon-star-small', );
$icon-tree-lines-name: 'icon-treeLines';
$icon-tree-lines-x: 638px;
$icon-tree-lines-y: 184px;
$icon-tree-lines-offset-x: -638px;
$icon-tree-lines-offset-y: -184px;
$icon-tree-lines-width: 35px;
$icon-tree-lines-height: 30px;
$icon-tree-lines-total-width: 698px;
$icon-tree-lines-total-height: 531px;
$icon-tree-lines-image: '../image/sprite.png';
$icon-tree-lines: (638px, 184px, -638px, -184px, 35px, 30px, 698px, 531px, '../image/sprite.png', 'icon-treeLines', );
$laib-100proc-ua-name: 'laib-100proc-ua';
$laib-100proc-ua-x: 519px;
$laib-100proc-ua-y: 0px;
$laib-100proc-ua-offset-x: -519px;
$laib-100proc-ua-offset-y: 0px;
$laib-100proc-ua-width: 179px;
$laib-100proc-ua-height: 179px;
$laib-100proc-ua-total-width: 698px;
$laib-100proc-ua-total-height: 531px;
$laib-100proc-ua-image: '../image/sprite.png';
$laib-100proc-ua: (519px, 0px, -519px, 0px, 179px, 179px, 698px, 531px, '../image/sprite.png', 'laib-100proc-ua', );
$laib-100proc-name: 'laib-100proc';
$laib-100proc-x: 335px;
$laib-100proc-y: 184px;
$laib-100proc-offset-x: -335px;
$laib-100proc-offset-y: -184px;
$laib-100proc-width: 179px;
$laib-100proc-height: 179px;
$laib-100proc-total-width: 698px;
$laib-100proc-total-height: 531px;
$laib-100proc-image: '../image/sprite.png';
$laib-100proc: (335px, 184px, -335px, -184px, 179px, 179px, 698px, 531px, '../image/sprite.png', 'laib-100proc', );
$laib-free-delivery-ua-name: 'laib-freeDelivery-ua';
$laib-free-delivery-ua-x: 335px;
$laib-free-delivery-ua-y: 0px;
$laib-free-delivery-ua-offset-x: -335px;
$laib-free-delivery-ua-offset-y: 0px;
$laib-free-delivery-ua-width: 179px;
$laib-free-delivery-ua-height: 179px;
$laib-free-delivery-ua-total-width: 698px;
$laib-free-delivery-ua-total-height: 531px;
$laib-free-delivery-ua-image: '../image/sprite.png';
$laib-free-delivery-ua: (335px, 0px, -335px, 0px, 179px, 179px, 698px, 531px, '../image/sprite.png', 'laib-freeDelivery-ua', );
$laib-free-delivery-name: 'laib-freeDelivery';
$laib-free-delivery-x: 151px;
$laib-free-delivery-y: 184px;
$laib-free-delivery-offset-x: -151px;
$laib-free-delivery-offset-y: -184px;
$laib-free-delivery-width: 179px;
$laib-free-delivery-height: 179px;
$laib-free-delivery-total-width: 698px;
$laib-free-delivery-total-height: 531px;
$laib-free-delivery-image: '../image/sprite.png';
$laib-free-delivery: (151px, 184px, -151px, -184px, 179px, 179px, 698px, 531px, '../image/sprite.png', 'laib-freeDelivery', );
$laib-showroom-name: 'laib-showroom';
$laib-showroom-x: 151px;
$laib-showroom-y: 0px;
$laib-showroom-offset-x: -151px;
$laib-showroom-offset-y: 0px;
$laib-showroom-width: 179px;
$laib-showroom-height: 179px;
$laib-showroom-total-width: 698px;
$laib-showroom-total-height: 531px;
$laib-showroom-image: '../image/sprite.png';
$laib-showroom: (151px, 0px, -151px, 0px, 179px, 179px, 698px, 531px, '../image/sprite.png', 'laib-showroom', );
$spritesheet-width: 698px;
$spritesheet-height: 531px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($body-clothes, $elem-chest, $elem-hip, $elem-neck, $elem-sleeve, $elem-waist, $icon-star-small, $icon-tree-lines, $laib-100proc-ua, $laib-100proc, $laib-free-delivery-ua, $laib-free-delivery, $laib-showroom, );
$spritesheet: (698px, 531px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
