/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, eot ttf woff);
@include font-face("Arial Narrow", "../fonts/Arial Narrow/Arial Narrow", 400, normal, eot ttf woff);
@include font-face("Arial Narrow Bold", "../fonts/Arial Narrow Bold/Arial Narrow Bold", 700, normal, eot ttf woff);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, eot ttf woff woff2);


/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;


  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.wrapperBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

.text_error{
  font-size: 16px;
  color: #f00;
}


/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}



.bl_mainSlider{
  position: relative;
  width: 100%;
}
.bl_mainSlider__full{
  width: 100%;
  min-height:600px;
  background-color: #000;
}

.bl_mainSlider__link{
  display: block;
  width: 100%;
  height: 100%;
}

.bl_mainSlider__image{
  width: 100%;

}


.product_sliderCart__title{
  position: relative;
  width: 100%;
  min-height:40px;
  text-align: center;

  color: #fff;
  font-family: $ArialNarrow;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;

  box-sizing: border-box;
  background-color: #000;
}


// SLIDER

.slider_newProducts{
  width: 100%;
}

.bl_newProducts__item{
  position: relative;
  display: inline-block;
  max-width: 225px;
  box-sizing: border-box;
}

.bl_newProducts__link{
  display: block;
  width: 100%;
  height: 100%;

}

.bl_newProducts__blockImg{
  width: 100%;
  min-height: 100%;
}

.bl_newProducts__title{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  color: $color_grey2;
  font-size: 18px;
  margin-top: 20px;
  height: 36px;
  overflow: hidden;


  box-sizing: border-box;
  text-overflow: ellipsis;

}


.button_sliderCart__buy{
  width: 100%;
  height: 40px;
  background-color: #000;

  &:hover .button_sliderCart__buy_text{
    transition: all .2s;
    color: $color_red;
  }
}

.button_sliderCart__buy_text{
  margin-top: 16px;
  transition: all .2s;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}





.product_sliderCart__price{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  line-height: 33px;
}

.product_sliderCart__price_normalPrice{
  color: $color_grey2;
  font-family: $ArialBold;
  font-size: 24px;
}

.product_sliderCart__price_oldPrice{

  color: $color_grey2;
  font-family: $ArialNarrow;
  font-size: 18px;
  text-decoration: line-through;
}

.product_sliderCart__price_newPrice{

  color: $color_grey2;
  font-family: $ArialBold;
  font-size: 24px;

}


// OWL


//MARK


.bl_mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 107px;
  height: 30px;

  z-index:3;

  &__hit {
    //background: url("../image/fish_hit.svg") 0 50% no-repeat;
  }

  &__discount {
    background: url("../image/icon_sale.svg") 0 50% no-repeat;
  }

  &__new {
    //background: url("../image/fish_new.svg") 0 50% no-repeat;
  }

}

.bl_mark__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);

  color: #fff;
  font-family: $ArialNarrow;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 20px;

  &_action {
    font-size: 22px;
  }

}


/////// BANER inPresence


.bl_inPresence{

  margin-top: 70px;

  width: 100%;
  min-height: 600px;
  background: url("../image/plane_1.jpg") 50% 50% no-repeat;
  background-size: contain;
}


.bl_inPresence__info{
  position: relative;
  transform: translateY(50%);
  width: 100%;
  min-height:350px;
  border: 1px solid #000;


}


.bl_inPresence__fullText{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  min-height: 164px;
  background: url("../image/line_eagle.png") 50% 50% no-repeat;
  background-size: contain;
  color: $color_grey2;
}


.bl_inPresence__eagle{
  position: absolute;
  top: 0;
  right: 47px;

}


$ml: 5%;

.bl_inPresence__bigText{
  padding-top: 18px;
  margin-left: $ml;
  margin-top: 0;
  font-family:$ArialBold;
  font-size: 48px;
  text-transform: uppercase;
}

.bl_inPresence__smallText{
  font-family: $ArialNarrow;
  margin-top: 0;
  margin-left: $ml;
  font-size: 19px;
}

.bl_inPresence__procent{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);

  color: $color_grey2;
  font-family: $ArialBold;
  font-size: 72px;
  z-index:2;
}


///////////
.icon-star{
  &:after{
    position: absolute;
    left: 0;
    top: 0;

    content: "";
    width: 40px;
    min-height:40px;

    background: url("../image/icon_star.svg") 50% 50% no-repeat;
    //background-size: cover;
    z-index:4;
  }
}


.decor-likeLabel{

  &:before{
    position: absolute;
    left: 0;
    top: 0;

    content: "";
    width: 50px;
    min-height:40px;

    z-index:3;
  }

}


/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
