/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, eot ttf woff);
@include font-face("Arial Narrow", "../fonts/Arial Narrow/Arial Narrow", 400, normal, eot ttf woff);
@include font-face("Arial Narrow Bold", "../fonts/Arial Narrow Bold/Arial Narrow Bold", 700, normal, eot ttf woff);
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.wrapperBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

.text_error {
  font-size: 16px;
  color: #f00;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}

.bl_mainSlider {
  position: relative;
  width: 100%;
}

.bl_mainSlider__full {
  width: 100%;
  //min-height: 516px;

}

.bl_mainSlider__link {
  display: block;
  width: 100%;
  height: 100%;
}

.bl_mainSlider__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.product_sliderCart__title {
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: center;

  color: #fff;
  font-family: $ArialNarrow;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;

  box-sizing: border-box;
  background-color: #000;
}

// SLIDER

.slider_newProducts {
  width: 100%;
}

.bl_newProducts__wrapper{
  position: relative;
  width: 100%;
}

.bl_newProducts__item {
  position: relative;
  display: inline-block;
  max-width: 225px;
  box-sizing: border-box;
}

.bl_newProducts__link {
  display: block;
  width: 100%;
  height: 100%;

}

.bl_newProducts__blockImg {
  width: 100%;
  min-height: 100%;
}

.bl_newProducts__title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  color: $color_grey2;
  font-size: 18px;
  margin-top: 20px;
  height: 36px;
  overflow: hidden;

  box-sizing: border-box;
  text-overflow: ellipsis;

}

.button_sliderCart__buy {
  width: 100%;
  height: 40px;
  background-color: #000;

  &:hover .button_sliderCart__buy_text {
    transition: all .2s;
    color: $color_oliv;
  }
}

.button_sliderCart__buy_text {
  margin-top: 16px;
  transition: all .2s;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.product_sliderCart__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  line-height: 33px;
}

.product_sliderCart__price_normalPrice {
  color: $color_grey2;
  font-family: $ArialBold;
  font-size: 24px;
}

.product_sliderCart__price_oldPrice {

  color: $color_grey2;
  font-family: $ArialNarrow;
  font-size: 18px;
  text-decoration: line-through;
}

.product_sliderCart__price_newPrice {

  color: $color_grey2;
  font-family: $ArialBold;
  font-size: 24px;

}

// OWL

$fontSize: 14px;

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev {

    position: absolute;
    left: 0;
    top: -25px;

    width: 30px;
    height: 40px;
    background-color: $color_dark;

    line-height: 40px;
    transition: all 0.2s;

    &:before {
      content: "\f053";
      display: block;
      margin: 0 auto;
      font-family:$FontAwesome;
      font-size: $fontSize;
      color: #fff;
      width: 12px;
      height: 12px;
    }

  }

  .owl-next {

    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 40px;
    background-color: $color_dark;


    line-height: 40px;
    transition: all 0.2s;


    &:before {
      content: "\f054";
      display: block;
      margin: 0 auto;

      font-family:$FontAwesome;
      font-size: $fontSize;
      color: #fff;
      width: 12px;
      height: 12px;

    }

  }
}

//corrected style


.slider_newProducts.owl-carousel .owl-nav,
.slider_discountProducts.owl-carousel .owl-nav{
  width: initial;
  height: auto;
  top: -30px;
  right: 0;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 40px;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid $color_owlArrow;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;

      transform:translate(-20%, -50%);


      content: "\f053";
      font-family:$FontAwesome;
      font-size: 20px;
      color: $color_red3;
      width: 100%;
      height: 100%;
      line-height: 40px;
    }
  }

  .owl-next {
    float: right;
    &:before {
      content: "\f054";
    }
  }

}


.product_image__slider.owl-carousel .owl-nav {

  top: 25%;

  .owl-prev,
  .owl-next {

    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 50px;

    background-color: $color_blue;
    box-sizing: border-box;

    z-index: 10;
    &:before {
      width: 16px;
      height: 30px;
      border: 1px solid #f00;
    }

    &:hover {
      background-color: $color_blue2;
    }

  }

  .owl-next {
    float: right;
    &:before {

    }
  }
}


// OWL END





//MARK

.bl_mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 107px;
  height: 30px;

  z-index: 3;

  &__hit {
    //background: url("../image/fish_hit.svg") 0 50% no-repeat;
  }

  &__discount {
    background: url("../image/icon_sale.svg") 0 50% no-repeat;
  }

  &__new {
    //background: url("../image/fish_new.svg") 0 50% no-repeat;
  }

}

.bl_mark__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);

  color: #fff;
  font-family: $ArialNarrow;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 20px;

  &_action {
    font-size: 22px;
  }

}

/////// BANER inPresence

.bl_inPresence {
  margin-top: 70px;
}






// SLIDER Classics of the genre

.bl_classicsGenre {
  position: relative;
  width: 100%;

  margin-top: 140px;
}

.bl_classicsGenre__full {
  width: 100%;
}

.bl_classicsGenre__histore {

  display: block;

  margin-top: 29px;
  line-height: 24px;

}

.bl_classicsGenre__histore_item {
  position: relative;
  width: 100%;

  height: 120px;

  overflow-y: auto;
  p {
    margin: 0;
    font-size: 16px;
    height: 24px;
  }
}

.slider_classicGenre {
  width: 100%;
  min-height: 600px;
  background-color: $color_grey;

  padding: 50px 0;

}

.slider_classicGenre__item {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.slider_classicGenre__image {

  display: inline-block;
  width: 100%;
  max-width: 500px;

  margin-left: 6%;

  border: 1px solid #000;
  box-sizing: border-box;

}

.slider_classicGenre__fullTitle {
  position: relative;
  top: 0;
  display: inline-block;
  width: 100%;
}

.slider_classicGenre__title {
  position: relative;

  margin: 0;
  width: 100%;

  height: 54px;

  overflow: hidden;

  line-height: 53px;

  display: block;



  text-align: center;
  background-color: #000;

  cursor: pointer;
}

.slider_classicGenre__link{
  display: block;
  width: 100%;
  height: 100%;

  color: #fff;
  font-family: $ArialBold;
  font-size: 30px;

  text-indent: 91px;


  &:hover,
  &:focus{
    color: #fff;
    text-decoration: underline;
  }

}



.bl_classicsGenre .bl_mark__correct {
  top: 19%;
}

.slider_classicGenre__product {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  //min-height: 500px;

}

.slider_classicGenre__fullPrice {
  display: flex;
  justify-content: center;

  margin-top: 44px;
  width: 100%;

  line-height: 33px;
}

.slider_classicGenre__oldPrice {

  color: $color_grey2;
  font-size: 18px;
  text-decoration: line-through;
}

.slider_classicGenre__newPrice {
  margin-left: 21px;
  color: $color_oliv;
  font-family: $ArialBold;
  font-size: 24px;
}

.slider_classicGenre__currentPrice {
  text-align: center;
  color: #e50014;
  font-family: $ArialBold;
  font-size: 28px;
}

.slider_classicGenre__description {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 330px;

  padding: 15px 20px;

  overflow-y: auto;
}

.slider_classicGenre__buttonsBlock {
  width: 100%;

}

.slider_classicGenre__buttonsBlock_wrapper {
  width: 225px;
  height: 40px;
  background-color: #000;
  margin: 0 auto;

  button:first-child {
    margin-left: 2px;
  }
}

.button_blackInfo {
  position: relative;
  margin-top: 2px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background-color: #000;
  border: 1px solid #fff;
}

.icon_bookmarks {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 16px;

    background: url("../image/icon_tab.svg") 50% 50% no-repeat;
  }
}

.icon_compare {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;

    background: url("../image/icon_compare.svg") 50% 50% no-repeat;
  }
}

.icon_lookAt {
  &:after {
    content: "\f002";
    font-family: $FontAwesome;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: #fff;
    //width: 17px;
    //height: 17px;
    //
    //background: url("../image/icon_loupe_2.svg") 50% 50% no-repeat;
  }
}

.button_buy {

  vertical-align: top;
  margin-top: 2px;
  padding: 7px 16px;
  color: #fff;
  font-family: $ArialNarrow;
  font-size: 16px;
  font-weight: 400;

  background-color: #000;
  text-transform: uppercase;

  transition: all, 0.2s;

  &:hover {
    transition: all, 0.2s;
    color: $color_oliv;
  }

}

////////// block Advantages

.bl_advantages {
  width: 100%;
  min-height: 380px;

  margin-top: 41px;

  background: url("../image/plane_2.jpg") 50% 50% no-repeat;

}

.bl_advantages__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  margin-top: 94px;
}

.bl_advantages__images{
  transform: translateY(-4%);
}

//.bl_advantages__stamp_origin {
//  @include sprite($stamp-origin);
//}
//
//.bl_advantages__stamp_showroom {
//  margin-top: 21px;
//
//  @include sprite($stamp-showroom);
//}
//
//.bl_advantages__stamp_delivery {
//  @include sprite($stamp-delivery);
//}

///////////
.icon-star {
  &:after {
    position: absolute;
    left: 0;
    top: 0;

    content: "";
    width: 40px;
    min-height: 40px;

    background: url("../image/icon_star.svg") 50% 50% no-repeat;
    //background-size: cover;
    z-index: 4;
  }
}

.decor-likeLabel {

  &:before {
    position: absolute;
    left: 0;
    top: 0;

    content: "";
    width: 60px;
    min-height: 40px;

    background: url('data:image/svg+xml, <svg version="1.1" id="likeLine" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 40">  <polyline points="0,0 35,0 58,40 0,40 0,0" fill="#fff"/></svg>') 0 0 no-repeat;
    z-index: 3;
  }

}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
