@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {

  .bl_inPresence__procent {
    left: 60%;
  }

  .bl_phones {
    font-size: 15px;
  }

  .slider_classicGenre__item {
    display: block;
  }
  .slider_classicGenre__fullPrice {
    margin-top: 0;
  }

  .bl_sorter__select {
    margin-right: 6px;
  }

  .bl_sorter:after {
    right: 12px;
  }

  .bl_product__FullImages {
    flex-direction: column;
  }

  .bl_product__images {
    margin: 0 auto;
    order: -1;
  }

  .bl_product__verticalSlider {
    margin-top: 10px;
    clear: both;
    max-width: initial;
    float: none;
    width: 100%;
    min-height: 94px;
    max-height: 150px;
  }
  .bl_product__verticalItem {
    margin-right: 5px;
  }

  .bl_product__verticalSlider.slick-slider .slickArrow-prev,
  .bl_product__verticalSlider.slick-slider .slickArrow-next {
    height: 100%;
    width: 24px;
  }

  .bl_product__verticalSlider.slick-slider .slickArrow-prev.slick-arrow {

    &:before {
      content: "\f104";
      top: 30%;
    }
  }

  .bl_product__verticalSlider.slick-slider .slickArrow-next.slick-arrow {
    left: 100%;

    &:before {
      content: "\f105";
      top: 30%;
    }
  }

  .bl_minInformation__availability {
    float: none;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .bl_minInformation__article {
    float: none;
    text-align: center;
    margin-top: 15px;
  }

  .bl_characteristics_fullReviews {
    top: 0;
    width: 100%;
  }

  .bl_characteristics__addReview {
    top: 0;
    display: block;
    margin-top: 10px;
  }

  .bl_characteristics__title {
    clear: both;
    padding-top: 5px;
  }


  .bl_product__minImg{
    max-width: initial;
  }

}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {

  .bl_nav__subCategory {
    position: relative;
    top: 0;
    width: auto;
  }

  .bl_controls {
    float: none;
    position: fixed;
    left: -280px;
    top: 0;
    transition: left 0.3s ease-in;

    padding-top: 30px;
    width: 270px;
    height: 100vh;
    background-color: rgba(127, 128, 0, .85);

    z-index: 100;
  }

  .bl_controls_item {
    width: 100%;
    display: block;
    padding-left: 10px;
    margin: 10px auto;
    border-bottom: 2px solid black;
  }

  .bl_controls__link {

    font-size: 20px;
    margin-left: 10%;
  }

  .bl_manage {
    float: none;
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  .bl_manage__item {

  }

  .bl_language {
    margin-left: 0;
  }

  .bl_search {
    margin: 10px auto;
  }

  .bl_phones {
    width: 100%;
  }
  .bl_phones__text {
    text-align: center;
    font-size: 18px;
  }

  .bl_shopBag {
    float: none;
    width: 50%;
    text-align: center;
    border: 1px solid white;
    padding: 20px 0;
    margin: 10px auto;
  }

  .bl_shopBag__goods {
    text-align: center;
    font-size: 18px;
  }
  .bl_shopBag__image {
    width: 54px;
    height: 50px;
  }

  .bl_nav__fullItems {
    display: none;
    width: 100%;
  }
  .bl_nav__item {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-top: none;
    margin: 0 auto;
  }

  .bl_nav__item:hover .bl_nav__subCategory {
    display: none;
  }

  .bl_nav__link {
    display: block;
    width: 100%;
    font-family: $ArialBold;
    text-align: center;

  }

  .bl_breadcrumbs__item {
    padding-right: 3%;
  }

  //.bl_nav__discount {
  //  float: none;
  //
  //  display: none;
  //  width: 100%;
  //  margin-bottom: 4px;
  //
  //}

  .bl_classicsGenre__full {
    .owl-nav {
      top: 30%;
    }
  }

  .bl_navFooter {
    display: flex;

    justify-content: space-between;

  }
  .bl_navFooter__link {
    text-align: center;
    font-size: 18px;
  }

  .bl_mainAdress {
    margin-top: 10px;
  }

  .bl_subscribe {
    margin-top: 15px;
  }
  .bl_inPresence__wrapper {
    margin-top: 48px;
  }

  .slider_classicGenre__image {
    margin-left: 0;
    margin: 0 auto;
  }

  .bl_fullProducts__item {
    width: 32%;

    &:nth-of-type(4n) {
      margin-right: inherit;
    }
  }

  .bl_catalog__filtersWrapper {
    max-width: none;
  }
  .bl_characteristics_fullReviews {
    width: auto;
  }

  .bl_characteristics__addReview {
    display: inline-block;
    float: right;
  }

  .bl_product__verticalSlider.slick-slider .slickArrow-prev.slick-arrow:before,
  .bl_product__verticalSlider.slick-slider .slickArrow-next.slick-arrow:before {
    top: 40%;
  }


  .bl_product__verticalSlider{
    max-height:230px;
  }

  .bl_blog__about {
    position: relative;
    max-width: initial;
  }

  .bl_news__fullImage{
    padding-right: 0;
  }

  .bl_receiver, .bl_deliveryMethod{
    min-height: initial;
  }
  .shoppingBasket_product__name{
    font-size: 18px;
  }

}

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {

  .bl_fullProducts__item {
    width: 49%;

    &:nth-of-type(2n) {
      margin-right: 1%;
    }
  }
  .bl_classicsGenre{
    margin-top: 40px;
  }


  .bl_product__productSlider {
    float: none;
    overflow: visible;
    max-width: initial;
    max-height: initial;
  }

  .bl_blog__time {
    width: 90px;
    height: 100px;
  }
  .bl_blog__day {
    font-size: 24px;
  }

  .bl_blog__month {
    line-height: 14px;
    font-size: 24px;

  }
  .bl_blog__year {
    line-height: 24px;
    font-size: 26px;
  }

  .bl_news p{
    padding: 0 20px;
  }

}

@media only screen and (max-width: 600px) {

  .inf_product__tabs li {
    width: 100%;
    display: block;
  }

  table {
    overflow-x: auto;
    display: block;
  }

  .clothes_body {
    transform: translateX(50%);
  }

  .clothes_body__neck,
  .clothes_body__chest,
  .clothes_body__waist,
  .clothes_body__sleeve,
  .clothes_body__hip {
    opacity: 1;
  }

  .decor-likeLabel {
    &:before {
      content: none;
    }
  }

  .icon-star {
    &:after {
      content: none;
    }
  }

  .bl_navFooter{
    padding-top: 0;
    flex-direction: column;
    min-height:100px;
  }


}

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {

  .bl_subscribe__icon {
    display: block;
  }

  .bl_subscribe__choose {
    display: none;
  }

  .bl_fullProducts__item {
    width: 100%;

    &:nth-of-type(2n) {
      margin-right: inherit;
    }
  }

  .bl_classicsGenre__full .owl-nav {
    top: 20%;
  }

  .product_sliderCart__item {
    display: block;
    margin: 0 auto;
  }

  .product_slider__title {
    font-size: 18px;
  }

  .bl_subscribe__input {
    width: 80%;
  }

  .bl_subscribe__button {
    width: 20%;
  }

  .review_product__title {
    padding: 0;
    text-align: left;
  }

  .bl_blog__about {
    padding-left: 5%;
  }

  .bl_blog__name {
    font-size: 24px;
    line-height: 26px;
  }
  .bl_blog__shortDescription {
    height: 170px;
  }

  .link_moreInfo {
    float: none;
  }

  .bl_blog__day {
    font-size: 24px;
    line-height: 26px;
  }
  .bl_blog__month {
    font-size: 20px;
  }
  .bl_blog__year {
    font-size: 20px;
  }


  .bl_contacts__icon{
    display: none;
  }


}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

  .slider_classicGenre__link {
    font-size: 16px;
  }

  .bl_classicsGenre__full .owl-nav {
    top: 14%;
  }
}
